@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    {

        @if (User.IsInRole("Personeel"))
        {
            <h2>Your role is - Personeel</h2>
        }
        else
        {
            <h2>Your role is - Non Admin</h2>
        }
    }
